* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    column-gap: 7rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, .9);
    font-size: 16px;
    width: 100%;
    height: 100%;
}
#card1{
    position: relative;
    background: transparent;
    perspective: 1000px;
    width: calc(100% / 3%);
    height: 70vh;
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
}
.front {
    text-align: center;
    color: green;
    line-height: 2.4;
    /* background-color: grey; */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    perspective: 300px;
    top: 0;
    left: 0;
    padding: 1rem .5rem;
}
.back{
    background-image: url(./media/benelli-m1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    perspective: 300px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}  
.clicked{
    transform: rotateX(180deg);
}
.front2 {
    text-align: center;
    color: blue;
    line-height: 1.5;
    /* background-color: grey; */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    perspective: 300px;
    top: 0;
    left: 0;
    padding: 1rem .5rem;
}
.back2{
    background-image: url(./media/M2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    perspective: 300px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* .details{
    display: none;
    transition: 2s ease-in-out; 
}
.active .details{
    display: block;
} */
.front3 {
    text-align: center;
    color: red;
    line-height: 2.4;
    /* background-color: grey; */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    perspective: 300px;
    top: 0;
    left: 0;
    padding: 1rem .5rem;
}
.back3{
    background-image: url(./media/M3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    perspective: 300px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

